<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<style>
    body {
        background-color: #86b7fe;
        background-image: linear-gradient(95deg, #86b7fe 5%, #ffc720 95%);
    }
</style>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Register</button>
</form>
</body>
</html>